@import "tailwindcss";

body {
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    background-image: url('./bg-pattern-bottom.svg'), url('./bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 100%, bottom 300% right -100%;
    background-color: #19A1AE;
    max-width: 1440px;
    margin: 0 auto;
}