@import "tailwindcss";

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #ecf2ff;
}

@theme {
  --color-light-blue: #7755ff;
  --color-dark-navy: #303b59;
  --color-red: #ff5555;
  --color-yellow: #ffb21e;
  --color-green: #00bb8f;
  --color-blue: #1125d6;

  --shadow-button: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
}

@layer utilities {
  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }
  .gradient-1 {
    background-image: linear-gradient(to bottom, #7755ff, #2f2ce9);
  }
  .gradient-2 {
    background-image: linear-gradient(to bottom, #4d21c9, #2421c900);
  }
}

@layer components {
  .card {
    @apply gap-6 rounded-b-2xl
      md:rounded-2xl pt-6 pb-10 px-12 md:px-15 text-white;
  }
}
